body{
    background-color:  #EAF6F6;
    }

/********************************************************TAG SELECTORS*********************************************************************/
p{
  font-size: 20px;
}
.name{
  font-size: 40px;;
}
    hr{
        border-style: dotted none none;
        background-color:#EAF6F6;
        border-color: gray;
        border-width: thick ;
        width: 5%;
    }
    
    h1 {
        color: #39A6A3;
      }
      h3 {
        color: #66BFBF;
      }
/********************************************************CLASS SELECTORS*********************************************************************/
.name{
  color: crimson;
}

/********************************************************ID SELECTORS*********************************************************************/
      #heading{
        font-family: "Sacramento",cursive;
        font-size: 70px;
        text-align: center;
        color: rgb(17, 119, 102);
      }